<div class="card">
  <% if prototype.image.attached? %>
    <%= link_to prototype_path(prototype.id) do %>
    <%= image_tag prototype.image, class: 'card__img' %>
  <% end %>
  <% else %>
  <!-- 画像が添付されていない場合の処理をここに追加するか、エラーメッセージを表示します。 -->
  <% end %>
  <div class="card__body">
    <%= link_to prototype.title, prototype_path(prototype.id), class: :card__title%>
    <p class="card__summary">
      <%= prototype.catch_copy %>
    </p>
    <%= link_to "by #{prototype.user.name}", user_path(prototype.user.id), class: :card__user %>
  </div>
</div>



<%# 配布済みのviewファイルを配置 %>